# Importar Arquivo CSV
Prof. Fernando Amaral

In [5]:
import numpy as np
import pandas as pd
#le csv
file = "../../Dados/Resp2.csv"
df1 = pd.read_csv(file)
df1.head()

   experience  respiration
0           0         3.94
1           0         4.26
2           0         4.16
3           0         3.76
4           0         4.07

In [6]:
file = "../../Dados/winequality-red.csv"
df1 = pd.read_csv(file, sep=";")
df1.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [8]:
file = "../../Dados/bostonTxt.txt"
df1 = pd.read_csv(file, sep="\t")
df1.head(6)

     MV  INDUS   NOX     RM  TAX    PT  LSTAT
0  24.0   2.31  53.8  6.575  296  15.3   4.98
1  21.6   7.07  46.9  6.421  242  17.8   9.14
2  34.7   7.07  46.9  7.185  242  17.8   4.03
3  33.4   2.18  45.8  6.998  222  18.7   2.94
4  36.2   2.18  45.8  7.147  222  18.7   5.33
5  28.7   2.18  45.8  6.430  222  18.7   5.21